@keyframes fadeInOut {
    0% {
      opacity: 0.15;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0.15;
    }
  }
  
  circle {
    animation: fadeInOut 2s ease-in-out infinite;
    animation-delay: 0s; /* Default value, will be overridden by JS */
  }